# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
csv_file = "Output/weather_data.csv"
heatmap_df=pd.read_csv(csv_file)

,City,Cloudiness(%),Country,Date,Humidity(%),Lat,Lng,Max Temp (F),Wind Speed (mph)
0,Punta Arenas,0,CL,1604294738,76,-53.15,-70.92,50.00,9.17
1,Guigue,100,VE,1604294739,88,10.09,-67.78,71.87,2.86
2,Albany,74,US,1604294442,64,42.60,-73.97,37.99,1.01
3,Rikitea,78,PF,1604294707,85,-23.12,-134.97,73.92,24.65
4,Vao,100,NC,1604294739,82,-22.67,167.48,74.53,14.25

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
#Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = heatmap_df[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = heatmap_df["Humidity(%)"].astype(float)

In [14]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2.5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [16]:
city_df = heatmap_df.loc[(heatmap_df["Wind Speed (mph)"] <= 10) & (heatmap_df["Cloudiness(%)"] == 0) & \
                                   (heatmap_df["Max Temp (F)"] >= 60) & (heatmap_df["Max Temp (F)"] <= 80)].dropna()

city_df

,City,Cloudiness(%),Country,Date,Humidity(%),Lat,Lng,Max Temp (F),Wind Speed (mph)
31,Jumla,0,NP,1604294743,30,29.27,82.18,63.45,5.39
68,Maceió,0,BR,1604294621,88,-9.67,-35.74,75.20,5.82
72,Manicoré,0,BR,1604294749,94,-5.81,-61.30,75.20,2.24
123,Cape Town,0,ZA,1604294758,68,-33.93,18.42,64.99,8.05
129,Camalú,0,MX,1604294759,59,30.85,-116.07,65.16,3.18
137,Najrān,0,SA,1604294761,24,17.49,44.13,68.00,3.51
146,Unnāo,0,IN,1604294762,47,26.53,80.50,77.00,5.82
167,Arroio dos Ratos,0,BR,1604294766,87,-30.08,-51.73,61.00,4.70
209,Buraidah,0,SA,1604294504,42,26.33,43.98,66.20,8.05
240,Jūybār,0,IR,1604294777,82,36.64,52.91,62.60,4.70
304,Los Llanos de Aridane,0,ES,1604294530,32,28.66,-17.92,69.80,8.05
335,Ahvāz,0,IR,1604294792,45,31.32,48.67,68.00,2.24
352,Arlit,0,NE,1604294795,29,18.74,7.39,67.98,5.44
373,Garoowe,0,SO,1604294798,44,8.41,48.48,77.70,8.25
378,Nushki,0,PK,1604294799,18,29.55,66.02,66.06,2.71
379,Plettenberg Bay,0,ZA,1604294799,76,-34.05,23.37,65.32,6.60
400,Āsmār,0,AF,1604294802,18,35.03,71.36,72.12,5.48
405,Mutoko,0,ZW,1604294803,70,-17.40,32.23,66.69,5.88
419,Luxor,0,EG,1604294805,77,25.70,32.64,69.80,4.70
427,Hanzhong,0,CN,1604294806,28,33.07,107.03,65.66,1.70
436,Saint-François,0,FR,1604294808,67,46.42,3.91,62.60,5.82
460,Benidorm,0,ES,1604294812,99,38.54,-0.13,62.01,6.15
478,Tigzirt,0,DZ,1604294816,54,36.89,4.12,63.97,5.19
509,Benjamin Constant,0,BR,1604294828,100,-4.38,-70.03,73.40,1.21
529,Bereket,0,TM,1604294833,18,39.24,55.52,74.62,8.41

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [17]:
hotel_df = city_df.loc[:,["City","Country", "Lat", "Lng"]]

hotel_df["Hotel Name"] = ""
hotel_df

                      City Country    Lat     Lng Hotel Name
31                   Jumla      NP  29.27   82.18
68                  Maceió      BR  -9.67  -35.74
72                Manicoré      BR  -5.81  -61.30
123              Cape Town      ZA -33.93   18.42
129                 Camalú      MX  30.85 -116.07
137                 Najrān      SA  17.49   44.13
146                  Unnāo      IN  26.53   80.50
167       Arroio dos Ratos      BR -30.08  -51.73
209               Buraidah      SA  26.33   43.98
240                 Jūybār      IR  36.64   52.91
304  Los Llanos de Aridane      ES  28.66  -17.92
335                  Ahvāz      IR  31.32   48.67
352                  Arlit      NE  18.74    7.39
373                Garoowe      SO   8.41   48.48
378                 Nushki      PK  29.55   66.02
379        Plettenberg Bay      ZA -34.05   23.37
400                  Āsmār      AF  35.03   71.36
405                 Mutoko      ZW -17.40   32.23
419                  Luxor      EG  25.70   32.64
427               Hanzhong      CN  33.07  107.03
436         Saint-François      FR  46.42    3.91
460               Benidorm      ES  38.54   -0.13
478                Tigzirt      DZ  36.89    4.12
509      Benjamin Constant      BR  -4.38  -70.03
529                Bereket      TM  39.24   55.52

In [26]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"

   
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
        
    results = response['results']
    
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']


    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Retrieving Results for Index 31: Jumla.
Missing field/result... skipping.
Retrieving Results for Index 68: Maceió.
Missing field/result... skipping.
Retrieving Results for Index 72: Manicoré.
Missing field/result... skipping.
Retrieving Results for Index 123: Cape Town.
Missing field/result... skipping.
Retrieving Results for Index 129: Camalú.
Missing field/result... skipping.
Retrieving Results for Index 137: Najrān.
Missing field/result... skipping.
Retrieving Results for Index 146: Unnāo.
Missing field/result... skipping.
Retrieving Results for Index 167: Arroio dos Ratos.
Missing field/result... skipping.
Retrieving Results for Index 209: Buraidah.
Missing field/result... skipping.
Retrieving Results for Index 240: Jūybār.
Missing field/result... skipping.
Retrieving Results for Index 304: Los Llanos de Aridane.
Missing field/result... skipping.
Retrieving Results for Index 335: Ahvāz.
Missing field/result... skipping.
Retrieving Results for Index 352: Arlit.
Missing field/result... skipping.
Retrieving Results for Index 373: Garoowe.
Missing field/result... skipping.
Retrieving Results for Index 378: Nushki.
Missing field/result... skipping.
Retrieving Results for Index 379: Plettenberg Bay.
Missing field/result... skipping.
Retrieving Results for Index 400: Āsmār.
Missing field/result... skipping.
Retrieving Results for Index 405: Mutoko.
Missing field/result... skipping.
Retrieving Results for Index 419: Luxor.
Missing field/result... skipping.
Retrieving Results for Index 427: Hanzhong.
Missing field/result... skipping.
Retrieving Results for Index 436: Saint-François.
Missing field/result... skipping.
Retrieving Results for Index 460: Benidorm.
Missing field/result... skipping.
Retrieving Results for Index 478: Tigzirt.
Missing field/result... skipping.
Retrieving Results for Index 509: Benjamin Constant.
Missing field/result... skipping.
Retrieving Results for Index 529: Bereket.
Missing field/result... skipping.

                      City Country    Lat     Lng Hotel Name
31                   Jumla      NP  29.27   82.18
68                  Maceió      BR  -9.67  -35.74
72                Manicoré      BR  -5.81  -61.30
123              Cape Town      ZA -33.93   18.42
129                 Camalú      MX  30.85 -116.07
137                 Najrān      SA  17.49   44.13
146                  Unnāo      IN  26.53   80.50
167       Arroio dos Ratos      BR -30.08  -51.73
209               Buraidah      SA  26.33   43.98
240                 Jūybār      IR  36.64   52.91
304  Los Llanos de Aridane      ES  28.66  -17.92
335                  Ahvāz      IR  31.32   48.67
352                  Arlit      NE  18.74    7.39
373                Garoowe      SO   8.41   48.48
378                 Nushki      PK  29.55   66.02
379        Plettenberg Bay      ZA -34.05   23.37
400                  Āsmār      AF  35.03   71.36
405                 Mutoko      ZW -17.40   32.23
419                  Luxor      EG  25.70   32.64
427               Hanzhong      CN  33.07  107.03
436         Saint-François      FR  46.42    3.91
460               Benidorm      ES  38.54   -0.13
478                Tigzirt      DZ  36.89    4.12
509      Benjamin Constant      BR  -4.38  -70.03
529                Bereket      TM  39.24   55.52

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [29]:
# Add marker layer ontop of heat map
fig.add_layer(gmaps.marker_layer(locations,info_box_content=hotel_info))

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))